In [16]:
from decimal import *
import numpy as np
import pandas as pd
from scipy.stats import mstats

In [9]:
d1 = pd.read_csv('/Users/purva/Desktop/Data Science Boot Camp/WELLCOME/WELLCOME_APCspend2013_forThinkful.csv', encoding='latin1')

In [10]:
 ## mstats.winsorize(df['COST (£) charged to Wellcome (inc VAT when charged)'], limits=0.978)

In [11]:
## Renaming column
d1.rename(columns={'COST (£) charged to Wellcome (inc VAT when charged)' : 'Cost in £'}, inplace=True)

## Dropping all rows with £999999.00 as cost

df1 = d1.drop(d1.loc[d1['Cost in £'] != '£999999.00'].index)
d1 = pd.concat([d1, df1, df1]).drop_duplicates(keep=False)

In [12]:
## Replacing $ with £
d1['Cost in £'] = d1['Cost in £'].str.replace('$' , '£')

## Removing £
d1['Cost in £'] = d1['Cost in £'].str.replace('£', '')

In [17]:
print("Mean is" ,d1['Cost in £'].apply(Decimal).mean())
print("Median is" ,d1['Cost in £'].apply(Decimal).median())
print("Mode is" ,d1['Cost in £'].apply(Decimal).mode())

Mean is 2015.0380384615385
Median is 1852.505
Mode is 0    2040.00
dtype: object

In [15]:
journal_count = d1['Journal title'].value_counts().head(5)
print(journal_count)

PLoS One                                           90
PLoS ONE                                           59
Journal of Biological Chemistry                    47
Nucleic Acids Research                             21
Proceedings of the National Academy of Sciences    19
Name: Journal title, dtype: int64